<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" th:fragment="copy">
<head>
    <meta charset="UTF-8">
    <title>サイドバー</title>
</head>
<body>
    <nav>
        <a class="text-decoration-none" th:href="@{/}">
            <span class="text-light p-1">日報管理システム</span>
        </a>
        <ul class="mt-3 mb-5">
            <!-- 管理者権限がある場合のみ表示 -->
            <li sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a class="text-light" th:href="@{/employees}">従業員</a>
            </li>
            <!-- 認証されているユーザーにのみ表示 -->
            <li sec:authorize="isAuthenticated()">
                <a class="text-light" th:href="@{/reports}">日報</a>
            </li>
        </ul>
        <!-- ログアウトフォーム -->
        <form method="post" th:action="@{/logout}">
            <div class="p-1">
                <input type="submit" value="ログアウト" class="btn btn-light">
            </div>
        </form>
    </nav>
</body>
</html>
